*,::ng-deep #pn_id_5_list {
    -webkit-tap-highlight-color: transparent;
}
button{
    box-shadow: none;
}
::ng-deep p-tabView a{
    text-decoration: none;
}
::ng-deep .p-tabview-nav-container .p-tabview-nav-content .p-tabview-nav{
    width: 50%;
    justify-content: center;
    padding: 0;
}
::ng-deep #pn_id_5_list,::ng-deep .p-dropdown-items{
    width: 100%;
    padding: 0;
    margin: 0;
}
::ng-deep .p-dropdown{
    width: 100%;
}